.content {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@keyframes ani2{
    0% {
        transform: translatey(20px);
    }
    100% {
        transform: translate3d(-300px);
    }
}
@keyframes ani1{
    0% {
        transform: translateX(20px);
    }
    
    100% {
        transform: translate3d(-300px);
    }
}
h1 {
    font-size: 90px;
    font-weight: 700;
    background-image: url(./assets/texture.gif);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    padding: 10px 0;
}
.contact{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border: 2px solid;
    width: 100vh;
    margin: auto;
    border-radius: 20%;
}


@media (min-width: 1400px){
    .contact {
    flex: 0 0 auto;
    width: 66.66666667%;
}
}

@media (min-width: 1400px){
    
.contact{
    max-width: 1320px;
}
}
@media (min-width: 1200px){
.contact {
    max-width: 1140px;
}
}

@media (min-width: 992px){
.contact{
    max-width: 960px; 
}
}

@media (max-width: 768px){
    .contact {
    max-width: 720px;
}
}

@media (max-width: 576px){
    .contact{
    max-width: 540px;
}
}
@media (max-width: 430px){
    .contact{
        max-width: 400px;
        max-height: 500px;
    }
}