<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevMinds Hub - Connect To Enhance</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <link rel="shortcut icon" href="./assets/Logo.jpg" type="image/x-icon" />
    <link rel="shortcut icon" href="../assets/Logo.jpg" type="image/x-icon" />

</head>
<body>
    <div class="container">
        <header
          class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom"
        >
          <a
            href="../index.html"
            class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
          >
            <img
              src="../assets/Logo.jpg"
              alt="Logo"
              height="40px"
              style="background-color: transparent; border-radius: 50%"
            />
            <img src="../assets/title.jpg" alt="Title" height="40px" />
          </a>
  
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a href="../index.html" class="nav-link" aria-current="page"
                >Home</a
              >
            </li>
            <li class="nav-item"><a href="./contact us.html" class="nav-link">Contact Us</a></li>
            <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
            <li class="nav-item"><a href="./templates/about.html" class="nav-link active">About</a></li>
          </ul>
        </header>
      </div>

      <div class="container px-5 py-12 mx-auto">
        <h2
          class="text-3xl font-medium title-font text-gray-900 mb-12 text-center dark:text-purple-600"
        >
        A Word From The Creators
  
        </h2>
        <div class="flex flex-wrap -m-4">
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-gray-100 p-8 rounded dark:bg-gray-700">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="block w-5 h-5 text-gray-400 mb-4"
                viewBox="0 0 10000.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="leading-relaxed mb-6 dark:text-gray-300">
                Our main moto of this Channel is to provide Quality Education
                of all our MAKAUTians who are studying B.Tech in any of the years
                and also to provide them with the best of the best resources to
                enhance their knowledge and skills.
              </p>
              <span class="inline-flex items-center"
                ><span class="flex-grow flex flex-col pl-4"
                  ><span
                    class="title-font font-medium text-gray-900 dark:text-white"
                    >Arjun Datta - </span
                  ><span class="text-gray-500 text-sm dark:text-gray-400"
                    > Web Developer and Machine Learning Enthusiast (Co-Founder)</span
                  ></span
                ></span
              >
            </div>
          </div>
          <div class="p-4 md:w-1/2 w-full">
            <div class="h-full bg-gray-100 p-8 rounded dark:bg-gray-700">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="currentColor"
                class="block w-5 h-5 text-gray-400 mb-4"
                viewBox="0 0 10000.036 975.036"
              >
                <path
                  d="M925.036 57.197h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.399 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l36 76c11.6 24.399 40.3 35.1 65.1 24.399 66.2-28.6 122.101-64.8 167.7-108.8 55.601-53.7 93.7-114.3 114.3-181.9 20.601-67.6 30.9-159.8 30.9-276.8v-239c0-27.599-22.401-50-50-50zM106.036 913.497c65.4-28.5 121-64.699 166.9-108.6 56.1-53.7 94.4-114.1 115-181.2 20.6-67.1 30.899-159.6 30.899-277.5v-239c0-27.6-22.399-50-50-50h-304c-27.6 0-50 22.4-50 50v304c0 27.601 22.4 50 50 50h145.5c-1.9 79.601-20.4 143.3-55.4 191.2-27.6 37.8-69.4 69.1-125.3 93.8-25.7 11.3-36.8 41.7-24.8 67.101l35.9 75.8c11.601 24.399 40.501 35.2 65.301 24.399z"
                ></path>
              </svg>
              <p class="leading-relaxed mb-6 dark:text-gray-300">
                At our channel, we are dedicated to empowering every MAKAUTian pursuing B.Tech by delivering top-notch education. Our primary mission is to provide high-quality resources and foster an environment that enhances the knowledge and skills of students across all years. We are committed to offering the best educational content, ensuring that each MAKAUTian has access to the tools and information needed for academic success and personal growth. Join us on a journey of learning, where excellence meets opportunity, and together, let's pave the way for a brighter and more knowledgeable future.
              </p>
              <span class="inline-flex items-center"
                ><span class="flex-grow flex flex-col pl-4"
                  ><span
                    class="title-font font-medium text-gray-900 dark:text-white"
                    >Chandrasis Bhattacharya - </span
                  ><span class="text-gray-500 text-sm dark:text-gray-400"
                    >Founder</span
                  ></span
                ></span
              >
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item">
              <a href="../index.html" class="nav-link px-2 text-body-secondary"
                >Home</a
              >
            </li>
            <li class="nav-item">
              <a href="../templates/contact us.html" class="nav-link px-2 text-body-secondary">Contact Us</a>
            </li>
            
            <li class="nav-item">
              <a href="../templates/about.html" class="nav-link px-2 text-body-secondary">About</a>
            </li>
          </ul>
          <p class="text-center text-body-secondary">© DevMinds Hub</p>
        </footer>
      </div>
    
</body>
</html>